@media screen and (max-width: 767px) {
    html {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: fixed;
    }

    body {
        font-family: HelveticaNeue-Medium;
    }
    
    #main {
        display: none;
    }

    #header {
        display: flex;
        padding: 0% 7% 2% 7%;
        flex-direction: column;
        line-height: 2rem;
    }

    #header > div {
        width: 100%;
        text-align: left;
    }

    .main-link {
        position: fixed;
        background-color: white;
        width: 86% !important;
        left: 50%;
        transform: translateX( -50% );
        padding: 4% 0;
        margin-bottom: 4%;
    }

    .contact-link, .close-link {
        float: right;
        display: none;
    }

    .close-link {
        margin-left: 4%;
    }

    .main-link a {
        color: #000000;
    }

    .image-link {
        margin-top: 20%;
    }

    #main {
        margin-top: 14%;
    }

    #titles,
    #archive-titles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        line-height: 5rem;
        margin: 10px;
    }

    #titles > div,
    #archive-titles > div {
        width: 27%;
    }

    .category > img,
    .archive > img {
        width: 100%;
    }

    .categoryArchiveName {
        display: none;
    }

    .contents,
    .archive-contents {
        display: none;
        /* flex-direction: column;
        justify-content: center;
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden; */
    }

    .content-slide {
        position: relative !important;
    }
    

    #image-count-div,
    #archive-count-div {
        float: right;
        font-size: 0.8rem;
    }

    #image-count,
    #archive-count {
        font-family: 'medium';
    }
    
    .content {
        height: 450px !important;
    }

    .content > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mobile-squre {
        display: block;
        float: right;
    }

    .mobile-squre img {
        width: 12px;
    }

    .image-link {
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
    }

    .email-link, .social-link, .mobile-text, .mobile-text2 {
        position: absolute;
    }

    .email-link {
        bottom: 0.5rem;
    }

    .social-link {
        bottom: 2rem;
    }

    .mobile-text {
        bottom: 6.5rem;
    }

    .mobile-text2 {
        bottom: 5rem;
    }

    .slick-slide {
        margin: 46px 24px 3%;
    }

    .content-count, .archive-content-count {
        display: none;
    }

    .image-text {
        text-align: center;
        margin-top: 17%;
    }
}